@import "./Mixin.scss";

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  width: 100%;
  overflow-x: hidden;

  @include L {
    font-size: 50%;
  }
}

body {
  width: 100%;
  overflow-x: hidden;
}

.App {
  text-align: center;
}
